body{
    font-family: Arial, Helvetica, sans-serif;
    background: #121413;
}
p,h1,h2,h3{
    margin: 0%;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 190px;
    margin-bottom: 25px;
}
.logo{
    width: 100px; /* ou qualquer valor desejado em pixels */
    height: auto; /* Isso mantém a proporção original do SVG */
}
.menu{
    display: flex;
    align-items: center;
    gap: 50px; 
}
ul{
    list-style: none;  
    gap: 10px; 
}
a{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration: none;
    color: #F5F5F5;
}
.menu a:hover/* efeito do ponto do mouse sobre algo  */ {
    font-size: 1.6rem;
    transition: 0.3s;
    color: grey;
    
  }
/*                       CONTEUDO                    */
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative; 
}
img{
    max-width: 100%;
    width: 1000px;
    border-radius: 4px;
    /* width: 1000px; */
    display:block;

}
.home{
    flex-wrap: wrap;
    margin-top: -50px;
}
.bloco1{
    position: absolute;
    top: 10%;
    right: 50%; /* Valores ajustados para serem mais responsivos */
    width: 30%;
}
@media screen and (max-width: 950px) {
    .bloco1 {
        position: static; /* Alterando para a posição normal */
        width: 100%; /* Ocupar 100% da largura disponível */
        margin-top: 20px; /* Adicionando uma margem superior para espaçamento */
    }
}
.frase{  
    background-color: #F5F5F5;
    padding: 40px;
    color: #704A2D;
    font-family: Fira Sans;
    font-size: 64px;
    font-weight: 100;
    border-radius: 4px;
}
.botao{
    display: flex;
    justify-content:flex-end;
    justify-items: flex-end;
    color: #704A2D;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.botao:hover{
    text-decoration: underline;
    
}
.rodape{
    display:flex ;
    justify-content: center;
    padding: 20px 10px;
    color:#F5F5F5 ;
}

.titulo{
    outline: 1px solid white;
}